<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kazaah Member</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kazzah</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>fb</string>
		<string>facebook-stories</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Kazzah allows users to capture images and videos of real life services that help build records for the future and allow for sharing amongst your personal network. Enabling Camera and image library use gives you the full power of the Kazzah Platform.</string>
	<key>NSContactsUsageDescription</key>
	<string>Kazzah allows you to build a close network of friends who help each other find trusted pros. Access to your contacts automates the process of building your connections at your control</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app requires access to the face id.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Kazzah allows you to search for trusted providers with your local network on a local map. Enabling access to Location services gives you the full power of the Kazzah Platform.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Kazzah allows you to search for trusted providers with your local network on a local map. Enabling access to Location services gives you the full power of the Kazzah Platform.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Kazzah allows you to search for trusted providers with your local network on a local map. Enabling access to Location services gives you the full power of the Kazzah Platform.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app does not require access to the microphone.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Kazzah allows users to capture images and videos of real life services that help build records for the future and allow for sharing amongst your personal network. Enabling Camera and image library use gives you the full power of the Kazzah Platform.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Inter.ttf</string>
		<string>Calibre_Black.otf</string>
		<string>Calibre_BlackItalic.otf</string>
		<string>Calibre_Bold.otf</string>
		<string>Calibre_BoldItalic.otf</string>
		<string>Calibre_Light.otf</string>
		<string>Calibre_LightItalic.otf</string>
		<string>Calibre_Medium.otf</string>
		<string>Calibre_MediumItalic.otf</string>
		<string>Calibre_Regular.otf</string>
		<string>Calibre_RegularItalic.otf</string>
		<string>Calibre_Semibold.otf</string>
		<string>Calibre_SemiboldItalic.otf</string>
		<string>Calibre_Thin.otf</string>
		<string>Calibre_ThinItalic.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>BootSplash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
